python reinforce_generic.py --data data/negotiate --bsz 16 --clip 1 --context_file data/negotiate/selfplay.txt --eps 0.0 --gamma 0.95 --lr 0.5 --momentum 0.1 --nesterov --ref_text data/negotiate/train.txt --rl_clip 1 --rl_lr 0.2 --score_threshold 6 --sv_train_freq 4 --temperature 0.5 --rw_type utility --output_model_file rl_model.pt --policy_model sv_model.pt --opp_models sv_model.pt,rl_model_rw_utility_1_0_0_0.pt,rl_model_rw_utility_1_0_-0.75_-0.75.pt --nepoch_per_opp 1 --num_opp_used 3